body{
		margin: 0px 0px;
		padding: 0;
	}	

h2	{
		width: 401px;
		text-align: center;
		border-bottom: 2px solid pink;
		border-right: 2px solid pink;
		font-family: 'Shrikhand', cursive;
	}

img {
		height: 301px;
		width: 341px;
		margin: 6px;
		transition: all 1s;
	}
.container
	{
		margin-top: 41px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		

	}

img:hover
	{
		transform: scale(1.1);
	}
