body{
		margin: 0px 0px;
		padding: 0;
	}	

h2	{
		width: 450px;
		text-align: center;
		border-bottom: 2px solid rgb(5, 247, 226);
		border-right: 2px solid rgb(5, 247, 226);
		font-family: 'Shrikhand', cursive;
	}

img {
		height: 300px;
		width: 340px;
		margin: 6px;
		transition: all 1s;
	}
.container
	{
		margin-top: 40px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		

	}

img:hover
	{
		transform: scale(1.1);
		cursor: pointer;
	}